In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [2]:
# Import the API key.
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tilichiki,RU,2021-01-10 03:47:09,60.4667,166.1000,-18.83,86,25,11.95
1,1,Gold Coast,AU,2021-01-10 03:42:58,-28.0000,153.4333,82.00,61,75,21.85
2,2,Troitsko-Pechorsk,RU,2021-01-10 03:47:10,62.7084,56.1964,-5.55,90,0,5.21
3,3,Ribeira Grande,PT,2021-01-10 03:44:00,38.5167,-28.7000,59.81,73,100,16.26
4,4,Santa Marta,CO,2021-01-10 03:47:10,11.2408,-74.1990,84.00,67,97,17.00

In [5]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps,dissipating=False,max_intensity=300,point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Gold Coast,AU,2021-01-10 03:42:58,-28.0000,153.4333,82.00,61,75,21.85
4,4,Santa Marta,CO,2021-01-10 03:47:10,11.2408,-74.1990,84.00,67,97,17.00
7,7,Cidreira,BR,2021-01-10 03:45:25,-30.1811,-50.2056,77.04,80,0,18.37
10,10,Hobart,AU,2021-01-10 03:46:35,-42.8794,147.3294,75.00,56,40,16.11
11,11,Pangobilian,PH,2021-01-10 03:47:12,8.8011,117.8594,83.73,73,77,18.34
12,12,Rikitea,PF,2021-01-10 03:43:38,-23.1203,-134.9692,78.76,76,100,14.65
13,13,Hithadhoo,MV,2021-01-10 03:44:16,-0.6000,73.0833,81.36,72,100,10.71
16,16,Butaritari,KI,2021-01-10 03:47:13,3.0707,172.7902,80.46,82,100,18.92
19,19,Biak,ID,2021-01-10 03:47:14,-0.9131,122.8766,85.69,64,4,1.66
26,26,Kavieng,PG,2021-01-10 03:44:05,-2.5744,150.7967,85.55,69,98,6.98

In [13]:
preferred_cities_df.count()

City_ID       131
City          131
Country       131
Date          131
Lat           131
Lng           131
Max Temp      131
Humidity      131
Cloudiness    131
Wind Speed    131
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
1    Gold Coast      AU     82.00 -28.0000  153.4333
4   Santa Marta      CO     84.00  11.2408  -74.1990
7      Cidreira      BR     77.04 -30.1811  -50.2056
10       Hobart      AU     75.00 -42.8794  147.3294
11  Pangobilian      PH     83.73   8.8011  117.8594
12      Rikitea      PF     78.76 -23.1203 -134.9692
13    Hithadhoo      MV     81.36  -0.6000   73.0833
16   Butaritari      KI     80.46   3.0707  172.7902
19         Biak      ID     85.69  -0.9131  122.8766
26      Kavieng      PG     85.55  -2.5744  150.7967

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Gold Coast,AU,82.00,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
4,Santa Marta,CO,84.00,11.2408,-74.1990,Hotel La Ballena Azul
7,Cidreira,BR,77.04,-30.1811,-50.2056,Hotel Castelo
10,Hobart,AU,75.00,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
11,Pangobilian,PH,83.73,8.8011,117.8594,Sir Brooke's Resort
12,Rikitea,PF,78.76,-23.1203,-134.9692,Pension Maro'i
13,Hithadhoo,MV,81.36,-0.6000,73.0833,Scoop Guest House
16,Butaritari,KI,80.46,3.0707,172.7902,Isles Sunset Lodge
19,Biak,ID,85.69,-0.9131,122.8766,Penginapan Kim
26,Kavieng,PG,85.55,-2.5744,150.7967,Nusa Island Retreat

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))